<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |port| %>

<p><%= port.title %> </p>
<p><%= port.subtitle %> </p>
<p><%= port.body %> </p>
<%= image_tag port.thumb_image if !port.thumb_image.nil? %>
<%= link_to "Edit", edit_portfolio_path(port.id) %>
<% end %>
